/* --space-cadet: #2b2d42ff;
--cool-gray: #8d99aeff;
--antiflash-white: #edf2f4ff;
--red-pantone: #ef233cff;
--fire-engine-red: #d90429ff; */


.content{
    background-color: #edf2f4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

.vertical {
    border: none;
    border-left: 1px solid #EF233C;
    height: 100%;
}

.card{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    max-width: 1850px;
    width: 90%;
    height: 80%;
    justify-content: space-between;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 20px;
}

.user{
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.repos{
    width: 60%;
    height: 100%;
    /* max-width: 800px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;

}
@media(max-width: 980){

}

@media(max-width: 768px){

    .content{
        height: auto;
    }

    .card{
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        justify-content: space-between;
        box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
        border-radius: 45px;
        padding: 20px;
    }
    
    .vertical {
        display: none;
    }

    .user{
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .repos{
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        overflow: auto;
    
    } 
    

}





