.repositorio{
   
   /*  border-radius: 50%;
    border: 1px solid #ccc; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    flex-grow: 1;
    width: 40%;
    border: 1px solid #EF233C;
    padding: 10px 5px;
    border-radius: 10px;
    margin: 5px 20px;
    /* max-height: 100px; */
}

.infos_repo{
    display: flex;
    flex-direction: row;

}

.repo_descr{
    font-size: 12px;
    margin: 5px 0;
}

.repo_name{
    font-size: 15px;
    font-weight: bold;
}

.infos_repo *{
    font-size: 10px;
    font-weight: lighter;
    /* margin-right: 20px; */
}

.icon {
    display: 'inline-block';
    margin-right: 2px;
    margin-left: 10px;
    vertical-align: middle;
    color: #EF233C;
}

