.repositorio{
   
   /*  border-radius: 50%;
    border: 1px solid #ccc; */
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: 350px;
    border: 1px solid #EF233C;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    max-height: 100px;
}

.infos_repo{
    display: flex;
    flex-direction: row;

}

.infos_repo *{
    margin-right: 20px;
}