.pesquisa{
    width: 100%;
    margin: 25px 0;
}

.search{
    display: flex;
    justify-content: center;
    width: 100%;
}

input{
    width: 70%;
    height: 56px;
    background-color: #FFF;
    border: 2px solid #EF233C;
    border-radius: 10px;
    outline: 0;
    box-sizing: border-box;
    top: 220px;
    background-position-y: center;
    background-position-x: 4.08%;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-left: 20px;
}

button{
    margin-left: 10px;
    height: 56px;
    border: 2px solid #EF233C;
    border-radius: 10px;
}

